In [4]:
from tree_map.parse_trees import load_trees
tree_data_url = 'https://data.smgov.net/resource/w8ue-6cnd.csv?$limit=50000'

In [5]:
trees_inventory_df = load_trees(tree_data_url)

In [7]:
import pandas as pd

from tree_map import DEFAULT_TREE_DATA_URL, HERITAGE_TREES_LOCATION, SPECIES_ATTIBUTES_LOCATION

heritage_trees_df = pd.read_csv(HERITAGE_TREES_LOCATION)
species_df = pd.read_csv(SPECIES_ATTIBUTES_LOCATION)

## Species Join

In [11]:
trees_inventory_df.dtypes

Tree ID                         int64
Date Modified                  object
Species ID                      int64
Name Botanical                 object
Name Common                    object
Height Group                    int64
Height Min                    float64
Height Max                    float64
DBH Group                       int64
DBH Min                       float64
DBH Max                       float64
District                        int64
Location                       object
Latitude                      float64
Longitude                     float64
Address                         int64
Street                         object
On Address                      int64
On Street                      object
Tree Number                     int64
Location Description           object
Census Tracts                 float64
california_census_zipcodes    float64
dtype: object

In [14]:
species_df.dtypes

botanical_name              object
common_name                 object
Species ID                   int64
family_botanical_name       object
family_common_name          object
native                      object
EOL_ID                     float64
EOL_overview_URL            object
simplified_IUCN_status      object
IUCN_status                 object
IUCN_DOI_or_URL             object
shade_production            object
form                        object
type                        object
Cal_IPC_rating              object
CAL_IPC_url                 object
Irrigation_Requirements     object
dtype: object

In [22]:
# We should always run this to make sure that the data is always unique for a species!!
species_df.groupby('botanical_name').filter(lambda g: len(g) > 1).groupby('botanical_name').size()

Series([], dtype: int64)

In [20]:
trees_inventory_df.\
        merge(species_df, left_on='Name Botanical', right_on='botanical_name').\
        head()

,Tree ID,Date Modified,Species ID_x,Name Botanical,Name Common,Height Group,Height Min,Height Max,DBH Group,DBH Min,...,EOL_overview_URL,simplified_IUCN_status,IUCN_status,IUCN_DOI_or_URL,shade_production,form,type,Cal_IPC_rating,CAL_IPC_url,Irrigation_Requirements
0,13491185,02/27/2020 03:23:00 PM,238,Vacant site,Vacant Site,0,NaN,NaN,0,NaN,...,NaN,not listed,not listed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13491186,02/27/2020 03:23:00 PM,238,Vacant site,Vacant Site,0,NaN,NaN,0,NaN,...,NaN,not listed,not listed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13491184,02/27/2020 03:22:00 PM,238,Vacant site,Vacant Site,0,NaN,NaN,0,NaN,...,NaN,not listed,not listed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13491179,02/27/2020 03:22:00 PM,238,Vacant site,Vacant Site,0,NaN,NaN,0,NaN,...,NaN,not listed,not listed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13491180,02/27/2020 03:22:00 PM,238,Vacant site,Vacant Site,0,NaN,NaN,0,NaN,...,NaN,not listed,not listed,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
trees_inventory_df.\
    merge(species_df, left_on='Name Botanical', right_on='botanical_name') \
    [[list(trees_inventory_df.columns)]]

KeyError: "None of [Index([('Tree ID', 'Date Modified', 'Species ID', 'Name Botanical', 'Name Common', 'Height Group', 'Height Min', 'Height Max', 'DBH Group', 'DBH Min', 'DBH Max', 'District', 'Location', 'Latitude', 'Longitude', 'Address', 'Street', 'On Address', 'On Street', 'Tree Number', 'Location Description', 'Census Tracts', 'california_census_zipcodes')], dtype='object')] are in the [columns]"

In [29]:
list(trees_inventory_df.columns)

['Tree ID',
 'Date Modified',
 'Species ID',
 'Name Botanical',
 'Name Common',
 'Height Group',
 'Height Min',
 'Height Max',
 'DBH Group',
 'DBH Min',
 'DBH Max',
 'District',
 'Location',
 'Latitude',
 'Longitude',
 'Address',
 'Street',
 'On Address',
 'On Street',
 'Tree Number',
 'Location Description',
 'Census Tracts',
 'california_census_zipcodes']